.characters-menu-nav {
    display: flex;
    font-family: "Medium", serif;
    align-items: center;
    justify-content: space-between;
    width: clamp(150px, 10%,200px);
    height: 60px;
}

.characters-menu{
    display: flex;
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
}

.characters-menu_content{
    animation: slide 300ms ease-in-out forwards;
    transform-origin: top center;
    border: 1px solid rgb(150, 150, 150);
    display: none;
    text-align: end;
    position: absolute;
    width: 100%;
    right: 0;
    z-index: 1;
    li{
        padding: 5%;
        background-color: rgba(255, 255, 255);
        display: block;
        margin: auto;
        width: 100% !important;
        text-decoration: none;
        cursor: pointer;
        text-align: center;
        color: inherit;
    }
}

.characters-menu_button {
    display: block;
    transition: .3s;
    background-color: inherit;
    font-family: Medium, serif;
    font-size: large;
    color: inherit;
    border: none;
    width: 100%;
    height: 100%;
    padding: 2%; 
    margin: auto;
}

.characters-menu:hover {
    .characters-menu_button{
        background-color: $active;
        color: black;
        transition: .3s;
    }
    .characters-menu_content{
        display: block;
    }
} 

a:hover, li:hover{
    color: $active;
}