#character_sheet{
    flex: 1 1 auto;
    margin-left: 5%;
    margin-right: 5%;
    font-family: Medium, serif;
    #gear, #chara_header{
        background-size: contain;
        background-repeat: no-repeat;
    }
    #gear {
        background-position: center;
    }
    #chara_header {
        background-position: center;
    }
}

#chara_header {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#chara_detail {
    display: flex;
    flex-direction: row;
}

#chara_menu {
    flex: 1 0 auto;
    text-align: end;
    li {
        cursor: pointer;
    }
    li:hover{
        color: $active;
    }
}

#chara_info {
    flex: 1 0 auto;
}

.Sylvari {
    #gear{background-image: url("../images/Races/Art/Sylvari.jpg");}
}
.Asura {
    #gear{background-image: url("../images/Races/Art/Asura.jpg");}
}
.Human {
    #gear{background-image: url("../images/Races/Art/Human.jpg");}
}
.Norn {
    #gear{background-image: url("../images/Races/Art/Norn.jpg");}
}
.Charr {
    #gear{background-image: url("../images/Races/Art/Charr.jpg");}
}
