.account-menu {
    width: 100%;
    display: flex;
    align-items: center;
    li{
        display: block;
        width: clamp(150px, 10%,200px);
        text-decoration: none;
        text-align: center;
        font-family:  Medium, serif;
        font-size: large;
        cursor: pointer;
    }
}