.skill_bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5%;
    overflow-x: auto;
}

.main_hand {
    margin: 1%;
}

.off_hand {
    margin: 1%;
    display: flex;
    flex-direction: row;
}

.Specializations {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#trait-lines {
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

#build {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .Elementalist{background-image: url("../../images/Professions/Icons/Elementalist/Elementalist_icon_\(highres\).png");}
    .Tempest{background-image: url("../../images/Professions/Icons/Elementalist/Tempest_icon_\(highres\).png");}
    .Weaver{background-image: url("../../images/Professions/Icons/Elementalist/Weaver_icon_\(highres\).png");}
    .Catalyst{background-image: url("../../images/Professions/Icons/Elementalist/Catalyst_icon_\(highres\).png");}

    .Engineer{background-image: url("../../images/Professions/Icons/Engineer/Engineer_icon_\(old_highres\).png");}
    .Scrapper{background-image: url("../../images/Professions/Icons/Engineer/Scrapper_icon_\(highres\).png");}
    .Holosmith{background-image: url("../../images/Professions/Icons/Engineer/Holosmith_icon_\(highres\).png");}
    .Mechanist{background-image: url('../../images/Professions/Icons/Engineer/Mechanist_icon_\(highres\).png');}

    .Guardian{background-image: url("../../images/Professions/Icons/Guardian/Guardian_icon_\(highres\).png");}
    .Dragonhunter{background-image: url("../../images/Professions/Icons/Guardian/Dragonhunter_icon_\(highres\).png");}
    .Firebrand{background-image: url("../../images/Professions/Icons/Guardian/Firebrand_icon_\(highres\).png");}
    .Willbender{background-image: url("../../images/Professions/Icons/Guardian/Willbender_icon_\(highres\).png");}

    .Mesmer{background-image: url("../../images/Professions/Icons/Mesmer/Mesmer_icon_\(highres\).png");}
    .Chronomancer{background-image: url("../../images/Professions/Icons/Mesmer/Chronomancer_icon_\(highres\).png");}
    .Mirage{background-image: url("../../images/Professions/Icons/Mesmer/Mirage_icon_\(highres\).png");}
    .Virtuoso{background-image: url("../../images/Professions/Icons/Mesmer/Virtuoso_icon_\(highres\).png");}

    .Necromancer{background-image: url("../../images/Professions/Icons/Necromancer/Necromancer_icon_\(highres\).png");}
    .Reaper{background-image: url("../../images/Professions/Icons/Necromancer/Reaper_icon_\(highres\).png");}
    .Scourge{background-image: url("../../images/Professions/Icons/Necromancer/Scourge_icon_\(highres\).png");}
    .Harbinger{background-image: url("../../images/Professions/Icons/Necromancer/Harbinger_icon_\(highres\).png");}

    .Ranger{background-image: url("../../images/Professions/Icons/Ranger/Ranger_icon_\(highres\).png");}
    .Druid{background-image: url("../../images/Professions/Icons/Ranger/Druid_icon_\(highres\).png");}
    .Soulbeast{background-image: url("../../images/Professions/Icons/Ranger/Soulbeast_icon_\(highres\).png");}
    .Untamed{background-image: url("../../images/Professions/Icons/Ranger/Untamed_icon_\(highres\).png");}

    .Revenant{background-image: url("../../images/Professions/Icons/Revenant/Revenant_icon_\(highres\).png");}
    .Herald{background-image: url("../../images/Professions/Icons/Revenant/Herald_icon_\(highres\).png");}
    .Renegade{background-image: url("../../images/Professions/Icons/Revenant/Renegade_icon_\(highres\).png");}
    .Vindicator{background-image: url("../../images/Professions/Icons/Revenant/Vindicator_icon_\(highres\).png");}

    .Thief{background-image: url("../../images/Professions/Icons/Thief/Thief_icon_\(highres\).png");}
    .Daredevil{background-image: url("../../images/Professions/Icons/Thief/Daredevil_icon_\(highres\).png");}
    .Deadeye{background-image: url("../../images/Professions/Icons/Thief/Deadeye_icon_\(highres\).png");}
    .Specter{background-image: url("../../images/Professions/Icons/Thief/Specter_icon_\(highres\).png");}

    .Warrior{background-image: url("../../images/Professions/Icons/Warrior/Warrior_icon_\(highres\).png");}
    .Berserker{background-image: url("../../images/Professions/Icons/Warrior/Berserker_icon_\(highres\).png");}
    .Spellbreaker{background-image: url("../../images/Professions/Icons/Warrior/Spellbreaker_icon_\(highres\).png");}
    .Bladesworn{background-image: url("../../images/Professions/Icons/Warrior/Bladesworn_icon_\(highres\).png");}
}

.bg-image {
    
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 400px;
    height: 400px;
}

@media screen and (max-width:1200px) {
    .Specializations {
        flex-direction: column;
    }
    .bg-image {
        width: 125px;
        height: 125px;
    }
    #trait-lines {
        overflow-x: auto;
    }
}