.item {
    margin: .1rem;
    display: flex;
    flex-direction: row-reverse;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    
    img {
        height: 64px;
        width: 64px;
    }
    .count {
        position: absolute;
        color: white;
        text-shadow: 0 0 3px black, 0 0 3px black, 0 0 3px black;
        margin-right: 5px;
        font-size: 13px;
    }
}

.icon {
    margin: .1rem;
    min-height: 64px;
    min-width: 64px;
    border:2px solid #303030;
    background-color: rgba(0, 0, 0, 0.1);
}


.Legendary {border:2px solid $Legendary;}
.Ascended {border:2px solid $Ascended;}
.Exotic {border:2px solid $Exotic;}
.Rare {border:2px solid $Rare;}
.Masterwork {border: 2px solid $Masterwork;}
.Fine {border: 2px solid $Fine;}
.Basic {border: 2px solid $Basic;}
.Junk {border: 2px solid $Junk;}
