.tool_tip {
    position: fixed;
    display: flex;
    z-index: 9;
    left: 5%;
    top:35%;
    flex-direction: column;
    padding: .5rem;
    min-height: 300px;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.836);
    color: white;
    border: 2px solid #ffffffc4;
    img {
        margin-right: 1rem;
    }
}

.tooltip_header {
    display: flex;
    align-items: center;
    border-bottom: lightgrey;
}

.tooltip_stats {
    display: flex;
    div{
        flex: 1;
    }
}

.tooltip_description {
    flex: 1 1 auto;
    div {
        display: flex;
        flex-direction: column;
    }
}

.tooltip_label {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    div {
        display: flex;
    }
}