body {
    background-color: rgb(20, 20, 20);
    color: #a4a4a4;
}


#page_view {
    display: flex;
    flex-direction:row;
    margin: 1%;
}

#navigation_menu {
    padding: 1%;
    border-right: 1px solid grey;
    display: flex;
    flex-direction: column;
}

li {
    transition: background-color 0.3s linear;
    list-style-type: none;
    cursor: pointer;
}

#menu_content {
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;
}

#menu_content img {
    height: 1.4rem;
    width: 1.4rem;
    margin-right: 0.5rem;
}

#menu_content li:hover {
    color: white;
}

#achievements {
    margin: 1%;
}

#content {
    flex: 1 1 auto;
}


