body {
    background-color: rgb(20, 20, 20);
    color: #a4a4a4;
}


#page_view {
    
    flex-direction:row;
    flex-wrap: wrap;
    flex:1;
}

#navigation_menu {
    padding: 1%;
    border-right: 1px solid grey;
    display: flex;
    flex-direction: column;
}

li {
    transition: background-color 0.3s linear;
    list-style-type: none;
    cursor: pointer;
}

#achmenu {
    flex: 0 1 auto;
    display: flex;
}

#menu_content{
    flex: 1;
}

#menu_content img {
    height: 1.4rem;
    width: 1.4rem;
    margin-right: 0.5rem;
}

#menu_content li:hover {
    color: white;
}

#achievements {
    margin: 1%;
}

#content {
    flex: 1 1 auto;
    margin-left: 5%;
    margin-right: 5%;
}

div.scrollmenu {
    overflow-x: auto;
    white-space: nowrap;
  }
  
  div.scrollmenu li {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }
  
  div.scrollmenu li:hover {
    background-color: #777;
  }

