{% extends "gw2_alpha\layout.html" %}

{% load static %}

{% block title %}Achievements{% endblock %}

{% block head %}
    <script src="{% static 'gw2_alpha/index.js' %}"></script>
{% endblock %}

    

{% block body %}
<div class="ach_view">
    
        <div id="group_menu">
            
            <h2>Groups</h2>
            <ul id="main_navbar" class="navbar-nav">
            
            </ul>

        </div>

        <hr>

        <div id="group_content">
            <nav  class="navbar navbar-dark">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">Category</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#CATNav" aria-controls="CATNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="CATNav">
                        <ul id="cat_navbar" class="navbar-nav">
            
                        </ul>
                    </div>
                </div>
            </nav>
            <hr>
            <div id="achievements" class="accordion accordion-flush">
            </div>
        </div>

    </div>
    
{% endblock %}
    

    
