{% extends "gw2_alpha\layout.html" %}

{% load static %}

    {% block title %}Achievements{% endblock %}

    {% block head %}
        <script src="{% static 'gw2_alpha/index.js' %}"></script>
    {% endblock %}

    

    {% block body %}
        <div>
            <nav id="main_navbar" class="navbar"></nav>
            <hr>
            <nav id="cat_navbar" class="navbar"></nav>
            <hr>
        </div>

        <div id="achievements" class="accordion accordion-flush"></div>
    {% endblock %}

    

    
