.icon {
    margin: 1%;
    height: 50px;
    width: 50px;
}

.skill_bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5%;
    overflow-x: auto;
}

.main_hand {
    margin: 1%;
}

.off_hand {
    margin: 1%;
    display: flex;
    flex-direction: row;
}

#trait-lines {
    width: 100%;
    overflow-x: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#build {
    display: flex;
    flex-direction: column;
    align-items: center;
}