.item {
    margin: .1rem;
    display: flex;
    flex-direction: row-reverse;
    img {
        height: 64px;
        width: 64px;
    }
    .count {
        position: absolute;
        color: white;
        text-shadow: 0 0 3px black, 0 0 3px black, 0 0 3px black;
        margin-right: 5px;
        font-size: 13px;
    }
}

.Legendary {
    border:2px solid #a02ef7;
}

.Ascended {
    border:2px solid #f48;
}

.Exotic {
    border:2px solid #b46900;
}

.Rare {
    border:2px solid #b49b1e;
}

.Masterwork {
    border: 2px solid #2dc50e;
}

.Fine {
    border: 2px solid #4f9dfe;
}

.Basic {
    border: 2px solid grey;
}

.Junk {
    border: 2px solid grey;
}

