#wallet {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-right: 5%;
    overflow-x: auto;
    img {
        height: 1.5rem;
        width: 1.5rem;
        margin-right: 0.5rem;
    }
}

#currencies {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 80vh;
    div {
        margin-right: 1%;
    }
}