$active : #ff8800;
$correct : #00A651;
$incorrect : #ED354F;
$bordure : rgba(0, 0, 0, 0.1);

// Items

$Legendary : #a02ef7;
$Ascended : #f48;
$Exotic : #b46900;
$Rare : #b49b1e;
$Masterwork : #2dc50e;
$Fine : #4f9dfe;
$Basic : grey;
$Junk : grey;

// Skills

$Heal : rgb(94, 185, 216);
$Utility : white;
$Elite : goldenrod;

@font-face {
    font-family: 'Light';
    src: url(../assets/fonts/PT_Serif/PTSerif-Regular.ttf);
}

@font-face {
    font-family: 'Medium';
    src: url(../assets/fonts/Cagliostro/Cagliostro-Regular.ttf);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

body {margin: 0;}

.flex {display: flex;}
.col {flex-direction: column;}
.light {font-family: 'Light', serif;}
.medium {font-family: 'Medium', serif;}
.icon {
    height: 36px;
    width: auto;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

